
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --brand-name: var(--white);
    --secondary:#F0B862;
}

body {
  color:#484848;
  font-size:.86rem;
}

.panel {
    width:320px;
}

.main {
    margin-left:320px;
}

.invoice-list {
    position:absolute;
    top:68px;
    left:5px;
    
    .amount {
        font-size:1.6em;
        font-weight:700;
        text-align:right;
    }
}

.container {
  max-width:1200px;
    min-width:420px;
}

.table {
  tr th {
    font-size:.75rem;
    text-transform:uppercase;
  }
  tr td {
    font-size:.78rem;
  }
}

.svg-icon {
  width: 1.2em;
  height: 1.2em;
    padding:0;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #6A1B9A;
}

.svg-icon circle {
    stroke: #6A1B9A;
  stroke-width: 1;
}

.footer .footer-app {
    text-align:center;
    font-size:.78rem;
    padding:10px;
}